@import '../../styles/index.scss';

.home {
    background-color: $secondaryColor;
    &-map {
        padding-top: 80px;
    }
}

@media screen and (max-width: 559px) {
    .home {
        &-map {
            width: 90%;
            margin: auto;
            
        }
    }
}